.question-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.question-form {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: 600px;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  border: 1px solid #cbcbcb;
}

.mat-radio-group {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

}

.mat-radio-button {
  margin: 10px 0 15px 15px;
}

.answer_section {
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  //align-items: center;
}

.add_answer {
  display: flex;
  justify-content: start;
  align-items: center;
  div, .mat-form-field {
    margin-right: 20px;
  }
}

.answer_list {
  height: 120px;
}
.answer_item {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .answer_item_btns > button {
    margin-right: 10px;
  }
  .answer_item_btns > button:hover {
    cursor: pointer;
  }
  .correct_answer {
    background-color: green;
  }
}

.form-btns {
  margin-top: 15px;
  display: flex;
  justify-content: center;

}
