<div class="management-wrapper">

  <button mat-raised-button (click)="toCreate()">To Question Create page</button>

  <div class="questions_wrapper" *ngIf="!isError; else error">
    <app-question-item *ngFor="let question of questions" [question]="question" [isManagement]="true"></app-question-item>
  </div>

  <app-paginator
    (pagination)="handlePagination($event)"
    [totalLength]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
  ></app-paginator>

</div>
<ng-template #error>
  <div>{{errorMessage}}</div>
</ng-template>
