<div class="item-card">
  <h3>{{question.body}}</h3>
  <div *ngIf="isAnswerable" class="answer_btns">
    <div *ngFor=" let answer of question.answers" >
      <button mat-button color="primary" (click)="onAnswerSelect(answer)">{{answer.answer}}</button>
    </div>
  </div>
  <div>
    <div>{{question.type}}</div>
    <div>{{question.createdAt | date: 'medium'}}</div>
  </div>
  <div>
    <button mat-raised-button (click)="onDelete(question.id)">Delete</button>
    <button mat-raised-button (click)="onEdit(question)">Edit</button>
  </div>

</div>
