<div class="item_card_wrapper" (click)="showMe(question)">
  <div class="item_card_content">
    <h3>{{question.body}}</h3>
    <div *ngIf="isAnswerable" class="answer_btns">
      <div *ngFor=" let answer of question.answers" >
        <button mat-button color="primary" (click)="onAnswerSelect(question, answer.id)">{{answer.answer}}</button>
      </div>
    </div>
    <div>
      <div>{{question.type}}</div>
      <div>{{question.createdAt | date: 'medium'}}</div>
    </div>
    <div class="item_card_buttons">
      <button mat-raised-button (click)="onDelete(question.id)">Delete</button>
      <button mat-raised-button (click)="onEdit(question)">Edit</button>
    </div>
  </div>

</div>
